body{
    background: #E0E5EC;
}
.card{
    background-color: #E0E5EC;
    border:none;
    box-shadow:9px 9px 16px rgba(163,177,198,0.6),-9px -9px 16px rgba(255,255,255,0.5);
    border-radius: 60px;
    width:100%;
    height:450px;
    position:relative;
    border:none;
}
.layer{
    position: absolute;
    width:50%;
    right:0;
    height:100px;
    background: #9c41a8;
    z-index:1;
    border-radius:0px 60px 0px 60px;
    box-shadow:0 4px 4px rgb(0,0,0/ 25%);
}
.layer2{
    position: absolute;
    width:10%;
    right:404px;
    top:57px;
    height:100px;
    background: #ff0d72;
    z-index:1;
    border-radius:100px 0px 100px 0px;
    box-shadow:0 4px 4px rgb(0,0,0/ 25%);
}
.forgot a{
    font-weight: 500;
    color:#000;
    text-decoration: none;
}
.fields .icon{
    margin:0 10px -3px 25px;
}
.p{
    margin-top:5px;
    font-size:25px;
    color:#000;
    font-weight:bold;
}
.btn-login{
    box-shadow:-10px -10px 15px rgba(255,255,255,0.5),
    10px 10px 15px rgba(70,70,70,0.12);
    background: #9c41a8;
    color:#fff !important;
}
.msg{
    color:#fff !important;
    padding:6px 8px;
}
#msg-div{
    display:none;
}
.fields{
    width:100%;
    padding:0px 5px 5px 5px;
}
.fields input{
    border: none;
    outline:none;
    background: none;
    font-size:18px;
    color:#555;
    padding:20px 10px 20px 5px;
}
.username,.password{
    margin-bottom: 22px;
    border-radius: 10px;
    box-shadow:inset 8px 8px 8px #cbced1,
    inset -8px -8px 8px #fff;
}
@media screen and (max-width:1025px){
    .layer2{
        display:none;
    }
}